<!-- extend base layout -->
{% extends "base.html" %}

{% block breadcrumb %}
<li><a href="/"><span class="glyphicon glyphicon-home"></span></a>
<li><a href="{{'/%d' % samples.year}}">{{ samples.year }}</a></li>
<li><a href="{{'/%d/%d' % (samples.year, samples.month)}}">{{ samples.month }}</a></li>
<li class="active">{{ samples.day }}</li>
{% endblock %}

{% block title %}
<h1>{{ momentjs('%d-%d-%d' % (samples.year, samples.month, samples.day)).format('dddd, MMMM D YYYY') }}</h1>
{% endblock %}

{% block content %}
<div class="row">
	<div class="col-md-8">
		<div class="panel panel-default">
			<div class="panel-body">
				<div id="chart_container">
					<div id="y_axis"></div>
					<div id="chart"></div>
					<div id="x_axis"></div>
				</div>
				<div id="legend"></div>
			</div>
		</div>
	</div>
	<div class="col-md-4">
		<div class="panel panel-default">
			<div class="panel-heading">
				<h3 class="panel-title">Day statistics</h3>
			</div>
			<div class="panel-body">
				<ul>
					<li>Max indoor: {{samples.max_indoor}} C</li>
					<li>Min indoor: {{samples.min_indoor}} C</li>
					<li>Max outdoor: {{samples.max_outdoor}} C</li>
					<li>Min outdoor: {{samples.min_outdoor}} C</li>
				</ul>
			</div>
		</div>
	</div>
</div>

<script>
{% autoescape false %}
var indoor = {{samples.indoor_samples}};
var outdoor = {{samples.outdoor_samples}};
{% endautoescape %}

var palette = new Rickshaw.Color.Palette();

var graph = new Rickshaw.Graph({
	element: document.querySelector("#chart"),
	renderer: 'line',
	min: 'auto',
	series : [
	{
		name: 'Indoor',
		data: indoor,
		color: palette.color()
	},
	{
		name: 'Outdoor',
		data: outdoor,
		color: palette.color()
	}]
});

var x_axis = new Rickshaw.Graph.Axis.Time({
	graph: graph,
	orientation: 'bottom',
	element: document.getElementById('x_axis')
});

var y_axis = new Rickshaw.Graph.Axis.Y({
	graph: graph,
	orientation: 'left',
	tickFormat: Rickshaw.Fixtures.Number.formatKMBT,
	element: document.getElementById('y_axis'),
});

var legend = new Rickshaw.Graph.Legend({
	element: document.querySelector('#legend'),
	graph: graph
});

var highlighter = new Rickshaw.Graph.Behavior.Series.Highlight({
	graph: graph,
	legend: legend
});

graph.render();

var hoverDetail = new Rickshaw.Graph.HoverDetail({
	graph: graph,
	formatter: function(series, x, y) {
		var date = '<span class="date">' + new Date(x * 1000).toUTCString() + '</span>';
		var swatch = '<span class="detail_swatch" style="background-color: ' + series.color + '"></span>';
		var content = swatch + series.name + ": " + parseFloat(y) + '<br>' + date;
		return content;
	}
});
</script>

{% endblock %}