<html>
<head>
	{% if title %}
		<title>{{samples.date}} - home temperature</title>
	{% else %}
		<title>home temperature</title>
	{% endif %}
	<link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/rickshaw/1.4.6/rickshaw.min.css">
	<script src="http://cdnjs.cloudflare.com/ajax/libs/d3/2.7.4/d3.min.js"></script>
	<script src="http://cdnjs.cloudflare.com/ajax/libs/d3/2.7.4/d3.layout.min.js"></script>
	<script src="http://cdnjs.cloudflare.com/ajax/libs/rickshaw/1.4.6/rickshaw.min.js"></script>

	<style>
	#chart_container {
		position: relative;
		display: inline-block;
		font-family: Arial, Helvetiva, sans-serif;
	}

	#chart  {
		position: inline-block;
		left: 40px;
	}

	#y_axis {
		position: absolute;
		top: 0;
		bottom: 0;
		width: 40px;
	}

	#x_axis {
		position: relative;
		left: 40px;
		height: 40px;
	}

	#legend {
		display: inline-block;
		left: 40px;
		vertical-align: top;
		margin: 0 0 0 10px;
	}
	</style>
</head>
<body>
	<div>Home temperature: <a href="/index">Home</a></div>
	<hr>
	<h1>{{samples.date}}</h1>

	<div id="chart_container">
		<div id="y_axis"></div>
		<div id="chart"></div>
		<div id="x_axis"></div>
	</div>
	<div id="legend"></div>

	<div id="stats">
	<h2>Temperature stats</h2>
		<ul>
			<li>Max indoor: {{samples.max_indoor}} C</li>
			<li>Min indoor: {{samples.min_indoor}} C</li>
			<li>Max outdoor: {{samples.max_outdoor}} C</li>
			<li>Min outdoor: {{samples.min_outdoor}} C</li>
		</ul>
	</div>

	<script>
	{% autoescape false %}
	var max_indoor = {{samples.max_indoor_samples}};
	var average_indoor = {{samples.average_indoor_samples}};
	var min_indoor = {{samples.min_indoor_samples}};
	var max_outdoor = {{samples.max_outdoor_samples}};
	var average_outdoor = {{samples.average_outdoor_samples}};
	var min_outdoor = {{samples.min_outdoor_samples}};
	{% endautoescape %}

	var palette = new Rickshaw.Color.Palette();

	var graph = new Rickshaw.Graph({
		element: document.querySelector("#chart"),
		renderer: 'line',
		width: 580,
		height: 250,
		min: 'auto',
		series : [
		{
			name: 'Max indoor',
			data: max_indoor,
			color: palette.color()
		},
		{
			name: 'Average indoor',
			data: average_indoor,
			color: palette.color()
		},
		{
			name: 'Min indoor',
			data: min_indoor,
			color: palette.color()
		},
		{
			name: 'Max outdoor',
			data: max_outdoor,
			color: palette.color()
		},
		{
			name: 'Average outdoor',
			data: average_outdoor,
			color: palette.color()
		},
		{
			name: 'Min outdoor',
			data: min_outdoor,
			color: palette.color()
		}]
	});

	var x_axis = new Rickshaw.Graph.Axis.X({
		graph: graph,
		orientation: 'bottom',
		element: document.getElementById('x_axis')
	});

	var y_axis = new Rickshaw.Graph.Axis.Y({
		graph: graph,
		orientation: 'left',
		tickFormat: Rickshaw.Fixtures.Number.formatKMBT,
		element: document.getElementById('y_axis'),
	});

	var legend = new Rickshaw.Graph.Legend({
		element: document.querySelector('#legend'),
		graph: graph
	});

	var highlighter = new Rickshaw.Graph.Behavior.Series.Highlight({
		graph: graph,
		legend: legend
	});

	graph.render();

	var hoverDetail = new Rickshaw.Graph.HoverDetail({
		graph: graph,
		formatter: function(series, x, y) {
			var date = '<span class="date">' + new Date(x * 1000).toUTCString() + '</span>';
			var swatch = '<span class="detail_swatch" style="background-color: ' + series.color + '"></span>';
			var content = swatch + series.name + ": " + parseFloat(y) + '<br>' + date;
			return content;
		}
	});
	</script>
</body>
</html>