<!-- extend base layout -->
{% extends "base.html" %}

{% block breadcrumb %}
<li><a href="/"><span class="glyphicon glyphicon-home"></span></a>
<li class="active">{{ samples.year }}</li>
{% endblock %}

{% block title %}
<h1>{{ '%d' % (samples.year) }}</h1>
{% endblock %}

{% block content %}
<div class="row">
	<div class="col-md-8">
		<div class="panel panel-default">
			<div class="panel-body">
				<div id="chart_container">
					<div id="y_axis"></div>
					<div id="chart"></div>
					<div id="x_axis"></div>
				</div>
				<div id="legend"></div>
			</div>
		</div>
	</div>
	<div class="col-md-4">
		<div class="panel panel-default">
			<div class="panel-heading">
				<h3 class="panel-title">Month statistics</h3>
			</div>
			<div class="panel-body">
				<ul>
					<li>Max indoor: {{samples.max_indoor}} C</li>
					<li>Min indoor: {{samples.min_indoor}} C</li>
					<li>Max outdoor: {{samples.max_outdoor}} C</li>
					<li>Min outdoor: {{samples.min_outdoor}} C</li>
				</ul>
			</div>
		</div>
	</div>
</div>


<script>
{% autoescape false %}
var max_indoor = {{samples.max_indoor_samples}};
var average_indoor = {{samples.average_indoor_samples}};
var min_indoor = {{samples.min_indoor_samples}};
var max_outdoor = {{samples.max_outdoor_samples}};
var average_outdoor = {{samples.average_outdoor_samples}};
var min_outdoor = {{samples.min_outdoor_samples}};
{% endautoescape %}
	var palette = new Rickshaw.Color.Palette();
	var graph = new Rickshaw.Graph({
	element: document.querySelector("#chart"),
	renderer: 'line',
	min: 'auto',
	series : [
	{
		name: 'Max indoor',
		data: max_indoor,
		color: palette.color()
	},
	{
		name: 'Average indoor',
		data: average_indoor,
		color: palette.color()
	},
	{
		name: 'Min indoor',
		data: min_indoor,
		color: palette.color()
	},
	{
		name: 'Max outdoor',
		data: max_outdoor,
		color: palette.color()
	},
	{
		name: 'Average outdoor',
		data: average_outdoor,
		color: palette.color()
	},
	{
		name: 'Min outdoor',
		data: min_outdoor,
		color: palette.color()
	}]
});

var x_axis = new Rickshaw.Graph.Axis.X({
graph: graph,
	orientation: 'bottom',
	element: document.getElementById('x_axis')
});

var y_axis = new Rickshaw.Graph.Axis.Y({
	graph: graph,
	orientation: 'left',
	tickFormat: Rickshaw.Fixtures.Number.formatKMBT,
	element: document.getElementById('y_axis'),
});

var legend = new Rickshaw.Graph.Legend({
	element: document.querySelector('#legend'),
	graph: graph
});

var highlighter = new Rickshaw.Graph.Behavior.Series.Highlight({
	graph: graph,
	legend: legend
});

graph.render();

var hoverDetail = new Rickshaw.Graph.HoverDetail({
	graph: graph,
	formatter: function(series, x, y) {
		var date = '<span class="date">' + new Date(x * 1000).toUTCString() + '</span>';
		var swatch = '<span class="detail_swatch" style="background-color: ' + series.color + '"></span>';
		var content = swatch + series.name + ": " + parseFloat(y) + '<br>' + date;
		return content;
	}
});
</script>

{% endblock %}